[includeIf "gitdir:/"]
	path = ~/dotfiles/git/.gitconfig.personal

[includeIf "gitdir:~/Repositories/"]
	path = ~/dotfiles/git/.gitconfig.lightspeed

[includeIf "gitdir:~/Repositories/personal/"]
	path = ~/dotfiles/git/.gitconfig.personal

[init]
	defaultBranch = master
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
