[includeIf "gitdir:/"]
	path = ~/config/git/.gitconfig

[includeIf "gitdir:~/Workspace/"]
	path = ~/config/git/.gitconfig.quotemachine

[includeIf "gitdir:~/Lightspeed/"]
	path = ~/config/git/.gitconfig.lightspeed

[init]
	defaultBranch = master
